<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Folder Name</th>
        </tr>
    </thead>
    <tbody>
        {% for fn in filenames %}
            <tr>
                <td><input type="checkbox" value="{{ fn }}" id="{{ fn }}" name="{{ group_name }}"/></td>
                <td><label for="{{ fn }}">{{ fn }}</label></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<input type="submit" value="Submit" class="btn btn-primary" />