version: '3'

services:
  webapp:
    ## map base directory for images (see also *_LOCATION in .env)
    ## REPLACE WITH REAL DIRECTORY!
    volumes:
      - ./test-data/tusi:/tusi
    ## DEBUG: enable direct access to Django on port 8000
#    ports:
#      - "8000:8000"

volumes:
  ## keep postgres data in local directory
  pgdata:
    driver: local
    driver_opts:
      type: none
      device: ./data/pgdata
      o: bind
