<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ISMI image admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="{% static 'imageadmin/js/jquery.js' %}"></script>
    <script src="{% static 'imageadmin/js/bootstrap.min.js' %}"></script>
    <!-- Le styles -->
    <link href="{% static 'imageadmin/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static 'imageadmin/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">ISMI Image Management Console</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'manage' %}">Manage</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% if message %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endif %}

      {% if alert %}
        <div class="alert alert-error">
          {{ alert }}
        </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div> <!-- /container -->
  </body>
</html>