{% extends "base.html" %}

{% block content %}

<h2>Status Page</h2>

<h3>Archiving in Progress</h3>
{% if archive_in_progress %}
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Directory</th>
        </tr>
    </thead>
    <tbody>
        {% for d in archive_in_progress %}
        <tr class="warning">
            <td>{{ d }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-success">
    <p>No directories are being processed</p>
</div>
{% endif %}

<h3>Diva Conversion in Progress</h3>
{% if diva_in_progress %}
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Directory</th>
        </tr>
    </thead>
    <tbody>
        {% for d in diva_in_progress %}
        <tr class="warning">
            <td>{{ d }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-success">
    <p>No directories are being processed</p>
</div>
{% endif %}

<script type="text/javascript">
  $(document).ready(function () {
    function refreshPage() {
      window.location.reload();
    };
    setInterval(refreshPage, 60000);
  });
</script>

{% endblock %}
