{% extends "base.html" %}

{% block content %}

<form action="/to_archive">
    <legend>Incoming Files</legend>
    <span class="help-block">These folders are in the "Incoming" folder on data3 and are ready to be moved to data1. They will be processed and moved.</span>
    <div>
    {% include "main/partials/table_listing.html" with filenames=to_archive %}
    </div>
</form>

<form action="/to_diva">
    <legend>Diva Files</legend>
    <span class="help-block">These folders are in data1 and have not been prepared for Diva. Processing these files will copy them from data1 to data7 and process them accordingly.</span>

    <div>
        {% include "main/partials/table_listing.html" with filenames=to_diva %}
    </div>
</form>

<form action="/diva_redo">
    <legend>Diva Re-Do</legend>
    <span class="help-block">These folders are in data1 and have been prepared for Diva, but if you want to reprocess them select them and they will be re-done.</span>

    <div>
        {% include "main/partials/table_listing.html" with filenames=diva_redo %}
    </div>
</form>

{% endblock %}