{% extends "base.html" %}

{% block content %}

<h2>Status Page</h2>

<h3>Archiving in Progress</h3>
{% if archive_in_progress %}
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Directory</th>
        </tr>
    </thead>
    <tbody>
        {% for d in archive_in_progress %}
        <tr class="warning">
            <td>{{ d }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-success">
    <p>No directories are being processed</p>
</div>
{% endif %}

<h3>Presentation Processing in Progress</h3>
{% if diva_in_progress %}
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Directory</th>
        </tr>
    </thead>
    <tbody>
        {% for d in diva_in_progress %}
        <tr class="warning">
            <td>{{ d }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-success">
    <p>No directories are being processed</p>
</div>
{% endif %}

<h3>Running jobs</h3>
{% if celery_active %}
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Job</th><th>Parameters</th>
        </tr>
    </thead>
    <tbody>
        {% for w_j in celery_active %}
        {% for j in w_j %}
        <tr class="warning">
            <td>{{ j.name }}</td><td>{{ j.args }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-success">
    <p>No processing jobs</p>
</div>
{% endif %}

<h3>Finished jobs</h3>
{% if celery_results %}
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>Status</th><th>Job</th><th>Parameters</th><th>Id</th><th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for res in celery_results %}
        <tr>
            <td>{{ res.status }}</td>
            <td>{{ res.task_name }}</td>
            <td>{{ res.task_args }}</td>
            <td><a href="{% url 'view_task_result' res.task_id %}">{{ res.task_id }}</a></td>
            <td>{{ res.date_done }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-success">
    <p>No processing jobs</p>
</div>
{% endif %}

<script type="text/javascript">
  $(document).ready(function () {
    function refreshPage() {
      window.location.reload();
    };
    setInterval(refreshPage, 60000);
  });
</script>

{% endblock %}
