{% extends "base.html" %}

{% block content %}

<div class="alert alert-info">
    <p>Please check the <a href="{% url 'home' %}">Status Page</a> before performing any of these operations!</p>
</div>

<form action="/imageadmin/diva_redo/" method="POST">
    {% csrf_token %}
    <legend>Re-process IIIF Presentation Files</legend>
    <span class="help-block">These folders are in the archive (data1) and have been prepared for IIIF online presentation, 
    but if you want to re-process them select them and they will be re-done.</span>

    <div>
        {% include "imageadmin/partials/table_listing.html" with filenames=diva_redo group_name="redo_diva_chk" %}
    </div>
</form>

{% endblock %}